@import '~office-ui-fabric-react/dist/sass/References.scss';

.nboDetailList {

  .container {
    max-width: 700px;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .nboAddDiv {
    max-width: 800px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  table,
  th,
  td {
    border: 1px solid #b0f5d9;
    border-collapse: collapse;
  }

  tr th {
    color: #ddd;

  }

  tr:nth-child(even) {
    background-color: #b6ede83b;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    background-color: #008f85;
  }

  .tableModal {
    //border: 1px solid black;
    border-collapse: collapse;
    //text-align: center;
    margin-top: 13px;
    width: 90%;
    //margin-left: 10px;
  }

  .divBoxShadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .coupon {
    border: 5px dotted #bbb;
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
  }


  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }

  .pagination.active {
    background-color: #47ccde;
    border-color: #47ccde;
    color: white;
  }

  .pagination>li>a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }

  .pagination>.active>a,
  .pagination>.active>span,
  .pagination>.active>a:hover,
  .pagination>.active>span:hover,
  .pagination>.active>a:focus,
  .pagination>.active>span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
  }

  .pagination>li>a,
  .pagination>li>span {
    color: black
  }

  .pagination>li:first-child>a,
  .pagination>li:first-child>span,
  .pagination>li:last-child>a,
  .pagination>li:last-child>span {
    border-radius: unset
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }


  .container {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }

  .Heading {
    font-size: 20px;
    text-align: center;
    color: #008f85;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 10px;
    width: auto;
  }

  .NoDataFound {
    font-size: 20px;
    text-align: center;
    color: #008f85;
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto;
  }

  .promo {
    background: #ccc;
    padding: 3px;
  }

  .expire {
    color: red;
  }



}